

.wrapper{
background-image: linear-gradient(45deg, #34227E 0%, #130214 100%);
color: #fff;
  padding: 32px;
}

.form-date::-webkit-calendar-picker-indicator {
  filter: invert(1);
  
}

.overlay{
  position: fixed;
  background: rgba(0,0,0,0.5);
  top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex;
align-items: center;
justify-content: center;
}

.edit-task-wrapper{
  background: #fff;
padding: 24px;
border-radius: 10px;
color: #000;
width: 70%;
}